p {
  font-size: 44px;
}
.main {
  font-size: 66px;
  background-color: aquamarine;
}
.main2 {
  font-size: 66px;
  background-color: rgb(130, 206, 32);
}
.mainmain {
  font-size: 89px;
  background-color: rgb(161, 240, 240);
}
